#Python Basic Data Types

In [ ]:
# Like other programming languages, Python has following basic data types -
# Numeric data types: int, float, complex
# String data types: str
# Sequence types: list, tuple, range
# Binary types: bytes, bytearray, memoryview
# Mapping data type: dict
# Boolean type: bool
# Set data types: set, frozenset

In [ ]:
a = 10
b = 3.14
c = 1+2j
d = True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
#String Basics
#String data types are immutable. It is sequence of chars.
program = 'This is my first python program'
print(type(program))
program = "This is my first python program"
print(program)
test = "This is chikenen's egg"
print(test)
test = 'This is my first "Python" program'
print(test)
test = 'This is chikenen\'s egg'
print(test)

In [ ]:
#String Upper Case and lower Case
lower = 'this is all lower case'
upper = lower.upper()
print(upper)
upper = upper.lower()
print(upper)

In [ ]:
#String count() method.
# It returns number of times a search string apears in the input text. you can optionally provide the start and end index of the
# input string
input_str = 'Data is fuel for industries. Due to social media enormous amount of data is generated everyday. Privacy of data is important aspect to consider.'
n = input_str.lower().count('data')
print(n)

#Use start and end index
n = input_str.lower().count('data',10,150)
print(n)

In [ ]:
#String find() method -> it returns the index of the first occurrence of the specified search string.
input_str = 'Data is fuel for industries. Due to social media enormous amount of data is generated everyday. Privacy of data is important aspect to consider.'
indx = input_str.find('data')
print(indx)

indx = input_str.index('data')
print(indx)

#What is the difference between find() vs index()?
# index() raises exception if search string is not found.
indx = input_str.find('unknown')
indx = input_str.index('unknown')

In [ ]:
#format() is useful method to get formatted string with the placeholder values.
total = 1.4
percent = .1776
urban = .363
text = 'India 2023 population is estimated at {} billion. It is equivalent to {:.2%} of the total world population. {:.2%} of the population is urban.'
print(text.format(total,percent,urban))

In [ ]:
#replace() replaces the part of input string occurances with the specified string.
input_str = 'Netflix uses python. Google too use python. Others companies like Dropbox, Reddit, Instagram, Stipe, Spotify, Meta also extensively use python.'
new_str = input_str.replace('python','java')
print(new_str)

new_str = input_str.replace('python','java',2)

print(new_str)

In [32]:
#split returns the list of words separated by whitespace( default separator) in an input string.
input_str = 'Tokenization in NLP is the process of breaking down a string of text into smaller units called tokens.'
tokens = input_str.split()
print(tokens)

# Let us look it in another way. You can also specify separator ( like , or : or | etc.).
input_str = 'abc,def,ghi,jkl,mno,pqr,stw,uvxyz'
print(input_str.split(','))

['Tokenization', 'in', 'NLP', 'is', 'the', 'process', 'of', 'breaking', 'down', 'a', 'string', 'of', 'text', 'into', 'smaller', 'units', 'called', 'tokens.']
['abc', 'def', 'ghi', 'jkl', 'mno', 'pqr', 'stw', 'uvxyz']

In [33]:
#splitlines returns the list separated by line breaks.
input_str = 'NLTk is Natual Language Toolkit is an NLP library.\n It provides various methods to analyze text data.\n Various methods are classification, stemming, lemmatization, tokenizing, part-of-speech (POS) tagging, word count etc.'
lines = input_str.splitlines()
print(lines)
lines = input_str.splitlines(True) # it keeps the line breaks
print(lines)

['NLTk is Natual Language Toolkit is an NLP library.', ' It provides various methods to analyze text data.', ' Various methods are classification, stemming, lemmatization, tokenizing, part-of-speech (POS) tagging, word count etc.']
['NLTk is Natual Language Toolkit is an NLP library.\n', ' It provides various methods to analyze text data.\n', ' Various methods are classification, stemming, lemmatization, tokenizing, part-of-speech (POS) tagging, word count etc.']

In [ ]:
#strip() removed beginning and trailling spaces default unless specified any specific characters to be removed.
input_str = '   this has lot of spaces    '
x = input_str.strip()
print(x)
input_str = '????? let us remove all question marks ??????'
x = input_str.strip('?')
print(x)

In [ ]:
#startswith() returns True if the input string starts with the specified string
input_str = 'morning shows the day.'
print(input_str.startswith('morning'))

In [ ]:
#title -> returns the string converting the first character of each work in upper case.
input_str = 'morning shows the day.'
print(input_str.title())

In [ ]:
#partition -> returns a tuple partitioning by the given word
input_str = 'Let us split the sentence into parts.'
print(input_str.partition('split'))

In [ ]:
#Few built-in methods to verify certain type of string. It returns boolean either True or False to satisfy the type.
#isalpha()	=> Returns True if all characters in the string are in the alphabet
#isalnum()	=>Returns True if all characters in the string are alphanumeric
#isnumeric()	=> Returns True if all characters in the string are numeric
#isascii()	=> Returns True if all characters in the string are ascii characters
#isdecimal()	=> Returns True if all characters in the string are decimals
#isdigit()	=> Returns True if all characters in the string are digits
#isspace()	=> Returns True if all characters in the string are whitespaces
#isidentifier()	=> Returns True if the string is an identifier
#Valid identifier contains alphanumeric letters (a-z) and (0-9), or underscores (_) and cannot start with a number, or contain any spaces.
#islower()	=> Returns True if all characters in the string are lower case
#isupper()	=> Returns True if all characters in the string are upper case
#isprintable()	=> Returns True if all characters in the string are printable
#istitle()	=> Returns True if the string follows the rules of a title
str_1 = 'alphabet'
str_2 = 'alphanum12345'
str_3 = '1234567890'
str_4 = 'just a name'
str_5 = '3456'
str_6 = '3344555'
str_7 = '    '
str_8 = 'valid_identifier'
str_9 = 'alllower'
str_10 = 'ALLUPPER'
str_11 = 'nonprintable\n' # it returns False as it contains \n which is nonprintable.
str_12 = 'Title String'

print(str_1.isalpha())
print(str_2.isalnum())
print(str_3.isnumeric())
print(str_4.isascii())
print(str_5.isdecimal())
print(str_6.isdigit())
print(str_7.isspace())
print(str_8.isidentifier())
print(str_9.islower())
print(str_10.isupper())
print(str_11.isprintable())
print(str_12.istitle())

In [ ]:
#rjust => right justify a string
#ljust => left justify a string
#zfill => fill with 0 at the beginning

input_str = 'string'
print(input_str.rjust(20)) #default is space
print(input_str.rjust(20,'0')) # can specify the char to fill in

print(input_str.ljust(20)) #default is space
print(input_str.ljust(20,'0')) # can specify the char to fill in

print(input_str.zfill(20))

#Python Collection Data Types ( Sequence )

#LIST

In [ ]:
#List -> Is homogeneous collection of items. This is a mutable sequence.
# You can create a list like below
electronic_goods = ["mobilephone","charger","headset","camera"]
print(electronic_goods)

In [21]:
#list() contrstctor to create a list
my_list = list(['a','e','i','o','u'])
print(my_list)

['a', 'e', 'i', 'o', 'u']

In [ ]:
# Lists are ordered, mutable or changeable, allow duplicate values, indexed, iterable.
#1. Let us iterate the above list
for item in electronic_goods:
  print(item)

In [ ]:
#2. Add item into list
# We can see the new item is added at the end, it maintains an order.
electronic_goods.append("music player")
print(electronic_goods)

In [ ]:
#3 It allow duplicates. Let us add existing item on to it.
electronic_goods.append("charger")
print(electronic_goods)

In [ ]:
#4 you can access using index
print(electronic_goods[0])
print(electronic_goods[2])

In [ ]:
#Other List methods
electronic_goods = ["mobilephone","charger","headset","camera"]
#Get the total number of items in the list container using len() method.
print(len(electronic_goods))
#count() -> Total no of elements of specified item in list
print(electronic_goods.count('charger'))

In [ ]:
print(electronic_goods)
#Update existing list
electronic_goods[1] = 'new item'
print(electronic_goods)

In [ ]:
#remove item from list
#there are two ways to do this.
#a. Remvoe item with specified value
electronic_goods.remove('mobilephone')
print(electronic_goods)

In [ ]:
# Remove item with index
electronic_goods.pop(0)
print(electronic_goods)

In [13]:
#insert() - insert at specified index
electronic_goods.insert(0,'play station')
print(electronic_goods)

['play station', 'headset', 'camera']

In [16]:
#Concatenate lists using + operator
list1 = [1,3,5,7,9]
list2 = [2,4,6,8,10]
list1 = list1 + list2
print(list1)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [15]:
#Concatenate lists using append()
list1 = [1,3,5,7,9]
list2 = [2,4,6,8,10]
for item in list2:
  list1.append(item)
print(list1)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [17]:
#Concatenate lists using extend()
list1 = [1,3,5,7,9]
list2 = [2,4,6,8,10]
list1.extend(list2)
print(list1)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 10]

In [ ]:
# List copy()
list_source = ['I', 'am', 'source', 'list']
list_dest = []
list_dest = list_source # this is wrong to copy list as both list_source and list_dest point to same reference.
print(id(list_source))
print(id(list_dest))

list_dest[1] = 'AM' #update list_dest will affect list_source as well.
print(list_source)

In [ ]:
#Let us do the proper way
list_source = ['I', 'am', 'source', 'list']
list_dest = []

list_dest = list_source.copy()
print(list_dest)
#change list_dest
list_dest[1] = 'AM'
print('After modification of the destination list')
print(list_dest)
print(list_source) # here source did not change.

In [10]:
#List sort()
input_nums = [100,200,301,10,31,501,43,14,511,513,5050]
input_nums.sort() #default order is ascending
print(input_nums)
input_text = ['Let','understand','the','sorting','order']
input_text.sort() #default order is alphanumeric
print(input_text)
print('Ascending order')
input_nums.sort(reverse=True) #order is ascending
print(input_nums)

[10, 14, 31, 43, 100, 200, 301, 501, 511, 513, 5050]
['Let', 'order', 'sorting', 'the', 'understand']
Ascending order
[5050, 513, 511, 501, 301, 200, 100, 43, 31, 14, 10]

In [13]:
#List Comprehension -> concise code in one line
example = ['let', 'us', 'remove', 'the', 'word', 'the', 'from', 'the', 'sentence', 'as', 'the', 'word', 'appears', 'many', 'times']
# newlist = [expression for eachitem in iterable if condition == True] # conditional part is optional though
new_str = [word for word in example if word != 'the']
print(new_str)
### Create a list of even numbers and greater than 80 and less than 100
even_nums = [i for i in range(100) if (i > 80 and i%2 == 0)]
print(even_nums)

['let', 'us', 'remove', 'word', 'from', 'sentence', 'as', 'word', 'appears', 'many', 'times']
[82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
#More on List indexing
# index starts at 0 ( access the first item)
my_list = ['this','will','help','to','understand','the','indexing', 'and', 'slicing']
print(my_list[0]) #print the first element
print(my_list[-1]) #print the last element. negetive indexing
print(my_list[-2]) #print the second element from the last. negetive indexing

In [24]:
#range indexes to get the slices of the list
print(my_list[0:4]) #first 4 elements in the list
print(my_list[2:4]) #starting at index 2 till index 4(not included)
print(my_list[2:]) # all items starting from index 2
print(my_list[:2]) # only first 2 items beginning of the list
print(my_list[:-2]) # all items leaving the last 2 items
print(my_list[1:-4]) # starting at index 1, all items except last 4.

['this', 'will', 'help', 'to']
['help', 'to']
['help', 'to', 'understand', 'the', 'indexing', 'and', 'slicing']
['this', 'will']
['this', 'will', 'help', 'to', 'understand', 'the', 'indexing']
['will', 'help', 'to', 'understand']

In [26]:
#Nested List
matrix_1 = [[1,2,3],[4,5,6],[7,8,9]]
matrix_2 = [[19,18,17],[16,15,14],[13,12,11]]
mixed = [1,'one',2,'two'] #mixed types
print(matrix_1)
print(matrix_2)
print(mixed)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[19, 18, 17], [16, 15, 14], [13, 12, 11]]
[1, 'one', 2, 'two']

#SET Types

In [ ]:
# Set is unodered collection of unique elements. It is immutable. Once it is created, you can not modify the values.
# Being an unordered collection, sets do not record element position or order of insertion.
# Accordingly, sets do not support indexing, slicing, or other sequence-like behavior.
electronic_items = {'cellphone','battery','power cord','music system','camera','headset','laptop','charger'}
#iterate the Set using loop. You can do indexing,slicing etc.

for item in electronic_items:
  print(item)

In [18]:
#set() contructor to create a set
my_set = set(('a','e','i','o','u'))
print(my_set)

{'e', 'i', 'o', 'u', 'a'}

In [ ]:
#add() - add new item to collection.
electronic_items.add('tripod')
for item in electronic_items:
  print(item)

In [ ]:
#update() -> add items from different set
another_set = {'raspberri pi','sensors','xbox'}
electronic_items.update(another_set)
for item in electronic_items:
  print(item)

In [ ]:
#update() using an iterable objects - another list
elec_list = ['microprocessors','microsontrollers']
electronic_items.update(elec_list)
for item in electronic_items:
  print(item)

In [7]:
#use remove() or discard() to remove an item from the set
electronic_items.remove('microprocessors')
for item in electronic_items:
  print(item)

charger
xbox
microsontrollers
cellphone
power cord
laptop
camera
sensors
music system
battery
tripod
raspberri pi
headset

In [ ]:
#if item does not exist, remove() will throw error but discard() does not raise error.
electronic_items.remove('unknown')
for item in electronic_items:
  print(item)

In [ ]:
#if item does not exist, remove() will throw error but discard() does not raise error.
electronic_items.discard('unknown')
for item in electronic_items:
  print(item)

In [ ]:
#copy()
new_set = electronic_items.copy()
for item in new_set:
  print(item)

In [12]:
#clear()
new_set.clear()
for item in new_set:
  print(item)

In [13]:
#various Set operations-
#union()
#intersection()
#difference()
a_2 = {10,6,8,4,2}
b_3 = {30,21,15,12,18,6}
c_6 = {36,6,12,24,30}

x_union = a_2.union(b_3)
print(x_union) # common elements are considered once

{2, 4, 6, 8, 10, 12, 15, 18, 21, 30}

In [16]:
x_intersect = b_3.intersection(a_2,c_6) #only the common elements in all sets.
print(x_intersect)

{6}

In [17]:
x_diff = b_3.difference(a_2)
print(x_diff) # print elements from b_3 which is not present a_2

{12, 15, 18, 21, 30}

#TUPLE data types

In [34]:
#Tuples are immutable sequences, typically used to store collections of heterogeneous data.
# Ordered, indexed, allow duplicates
# It is similar to list but this is immutable, where list is mutable meaning you can change the list post creation.
x_tuple = tuple('abc')
print(x_tuple)

#x_tuple = tuple('a','b','c') #error
x_tuple = tuple(['a','b','c'])
print(x_tuple)

print(x_tuple[1]) #indexed
print(x_tuple[1:]) #slicing

('a', 'b', 'c')
('a', 'b', 'c')
b
('b', 'c')

In [32]:
t = ('a','b') #this is a tuple. enclosed by parenthesis
print(type(t))
#t[0] = 'c' # error, this is immutable, you can not change it.

<class 'tuple'>

In [40]:
#When tuple is used?
# Generally, if you need to have some collection which is not changable in your program. for example collection of state Code in USA.
# you can keep then in a tuple instead of a list, as tuple does not allow changes values to the collection, where as list can be modified.

state_codes = ('NY', 'NJ','AL','AK','AZ','NE','NV','NH') # just few codes not exhaustive
print(state_codes)
#state_codes[3] = 'X' #error

('NY', 'NJ', 'AL', 'AK', 'AZ', 'NE', 'NV', 'NH')

In [42]:
#iterate process is similar as list
for x in state_codes:
  print(x)

NY
NJ
AL
AK
AZ
NE
NV
NH

In [47]:
#Convert tuple to list and change it
#example = tuple(('a','b','c','d'))
example = tuple(['a','b','c','d'])
x_list = list(example)
x_list[1] = 'bb'
example = tuple(x_list) #this
#example = x_list
print(example) # tuple is updated
print(type(example))

('a', 'bb', 'c', 'd')
<class 'tuple'>

In [ ]:
#unpacking values back to variables using unpacking
student = ('Ronaldo','29','Football')
(name,age,skill) = student
print(name)
print(age)
print(skill)

#Range

In [50]:
#The range type represents an immutable sequence of numbers and is commonly used for looping a specific number of times in for loops.
#class range(stop)
#class range(start, stop[, step])

x_list = list(range(10))
print(x_list)

x_list = list(range(1, 11))
print(x_list)

x_print = list(range(0, 30, 5))
print(x_print)

x_print = list(range(0, -10, -1))
print(x_print)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 5, 10, 15, 20, 25]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

#Dictionary

In [51]:
#Dictionary is map data type, stores key:value pair,written with curly braces.
#It is ordered from python version 3.7, earlier it was unordered.
# It is changeable or mutable, oes not allow duplicates
#create a dictionary
test_d = {
    'name': 'Rohan',
    'age': 30,
    'lang': 'eng'
}
#get length
print(len(test_d))
print(type(test_d))

3
<class 'dict'>

In [52]:
#create using dict()
new_dict = dict(name = 'Rohan',age = 30,lang = 'eng')
print(new_dict)

{'name': 'Rohan', 'age': 30, 'lang': 'eng'}

In [53]:
#get the value from dictionary using its key
x_age = new_dict['age']
print(x_age)

30

In [54]:
#get the value from dictionary using get() method
x_age = new_dict.get('age')
print(x_age)

30

In [56]:
# The objects returned by dict.keys(), dict.values() and dict.items() are view objects. They provide a dynamic view on the dictionaryâ€™s entries,
# which means that when the dictionary changes, the view reflects these changes.
# Get all the keys from the dictionary
x_all_keys = new_dict.keys()
print(x_all_keys)
print(type(x_all_keys))

dict_keys(['name', 'age', 'lang'])
<class 'dict_keys'>

In [57]:
x_all_vals = new_dict.values()
print(x_all_vals)
print(type(x_all_vals))

dict_values(['Rohan', 30, 'eng'])
<class 'dict_values'>

In [58]:
x_all_items = new_dict.items() # returns all items as tuples in a list
print(x_all_items)
print(type(x_all_items))

dict_items([('name', 'Rohan'), ('age', 30), ('lang', 'eng')])
<class 'dict_items'>

In [59]:
#update the dictionary
new_dict['origin'] = 'UK'
print(new_dict)

{'name': 'Rohan', 'age': 30, 'lang': 'eng', 'origin': 'UK'}

In [60]:
#update using update() method
new_dict.update({'choice' : 'nonveg'})
print(new_dict)

{'name': 'Rohan', 'age': 30, 'lang': 'eng', 'origin': 'UK', 'choice': 'nonveg'}

In [61]:
#modify the value for an existing key
new_dict.update({'choice' : 'veg'})
print(new_dict)

{'name': 'Rohan', 'age': 30, 'lang': 'eng', 'origin': 'UK', 'choice': 'veg'}

In [62]:
#remove an item form the dictionary
new_dict.pop('choice')
print(new_dict)

{'name': 'Rohan', 'age': 30, 'lang': 'eng', 'origin': 'UK'}

In [63]:
#Remove and return a (key, value) pair from the dictionary. Pairs are returned in LIFO order.
new_dict.popitem()
print(new_dict)

{'name': 'Rohan', 'age': 30, 'lang': 'eng'}

In [66]:
#iterate the dictionary
for item in new_dict:
  print('Key={}:Value={}'.format(item,new_dict[item]))

Key=name:Value=Rohan
Key=age:Value=30
Key=lang:Value=eng

In [67]:
#iterate using the viewable object methods
for key in new_dict.keys():
  print(key)

for val in new_dict.values():
  print(val)

for k,v in new_dict.items():
  print(k,v)

name
age
lang
Rohan
30
eng
name Rohan
age 30
lang eng

In [68]:
#copy() - shallow copy
x_dict = new_dict.copy()
print(x_dict)

{'name': 'Rohan', 'age': 30, 'lang': 'eng'}

In [69]:
#clear the items in dictionary
x_dict.clear()
print(x_dict)
print(len(x_dict))

{}
0

#Common Sequence Operations

In [ ]:
#The operations in the following table are supported by most sequence #types, both mutable and immutable.
#Operation | Result
#x in s | 'True if an item of s is equal to x, else False'
#x not in s | 'False if an item of s is equal to x, else True'
#s + t | 'the concatenation of s and t'
#s * n or n * s | 'equivalent to adding s to itself n times'
#s[i] | 'ith item of s, origin 0'
#s[i:j] | 'slice of s from i to j'
#s[i:j:k] | 'slice of s from i to j with step k'
#len(s) | 'length of s'
#min(s) | 'smallest item of s'
#max(s) | 'largest item of s'
#s.index(x[, i[, j]]) | 'index of the first occurrence of x in s (at or after index i and before index j)'
#s.count(x) | 'total number of occurrences of x in s'

In [ ]:
#x in s | 'True if an item of s is equal to x, else False'
#x not in s | 'False if an item of s is equal to x, else True'
x_list = list([100,200,300,400])
print(x_list)
n = 500
print(n in x_list)
n = 100
print(n in x_list)
print(n not in x_list)

In [5]:
#s + t | 'the concatenation of s and t'
s = [1,2,3]
t = [4,5,6]
u = s + t
print(u)

[1, 2, 3, 4, 5, 6]

In [6]:
#s * n or n * s | 'equivalent to adding s to itself n times'
n=3
s = [1,2,3]
t = s * n
print(t)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
#s[i] | 'ith item of s, origin 0'
#s[i:j] | 'slice of s from i to j'
s = [2,4,6,8,10]
print(s[2])
print(s[2:4])

6
[6, 8]
[4]

In [14]:
#len(s) | 'length of s'
#min(s) | 'smallest item of s'
#max(s) | 'largest item of s'
s = [2,4,6,8,10]
print(len(s))
print(min(s))
print(max(s))

5
2
10

In [20]:
#s.index(x[, i[, j]]) | 'index of the first occurrence of x in s (at or after index i and before index j)'
#s.count(x) | 'total number of occurrences of x in s'
s = [2,4,6,8,10,12,14,10,20,10]
print(s.index(12))
print(s.index(6,1,5))
#print(s.index(6,3,5)) #error as 6 is not in between index 3 and 5
print(s.count(10))

5
2
3