#Python Functions or Methods

In [1]:
#Function is useful to group one or more statements, code block and execute as a unit.
# Function can inputs as parameters or arguments.
# It can return result or output of the execution logic written inside the function.
# Let us see one example
# Function Definition
def first_func():   # this is function signature
  print('Hello, I have written my first function')  # Body of the function

In [2]:
# Call the function
first_func()

Hello, I have written my first function

#Pass Parameters

In [10]:
def print_name(first_name,last_name):
  print('Name is ', first_name,last_name)

In [11]:
print_name('Rohan','Sharma')

Name is  Rohan Sharma

#Return Values

In [12]:
# It takes 2
def print_name(first_name,last_name):
  return first_name + ' ' + last_name

In [13]:
name = print_name('Lakshmi','Chatterjee')
print(name)

Lakshmi Chatterjee

In [ ]:
#Number of Parameters
# While calling the function, you need to pass equal number of arguments, otherwise, it will throw error

In [ ]:
name = print_name('Lakshmi') #throw an error

#Variable number of arguments

In [14]:
#If number of arguments is unknown that will be passed into the function,
# it is required to put an asterisk( * ) before the parameter name in the function definition.
# So, the function will receive a tuple of arguments, and handle the params.
# Let us take an example

def my_variable_args_function(*args):
  for item in args:
    print('param = ', item)

In [15]:
my_variable_args_function(1,2,3)

param =  1
param =  2
param =  3

#Keyword Arguments

In [16]:
# If the arguments are sent withour order, then it must be sent with key = value syntax.
def my_keyword_args_func(param1,param2,param3):
  print('arg 1 = ', param1)
  print('arg 2 = ', param2)
  print('arg 3 = ', param3)

In [17]:
my_keyword_args_func(param3 = 3, param1 = 1, param2 =2)

arg 1 =  1
arg 2 =  2
arg 3 =  3

#Variable Keyworg Arguments

In [18]:
#Variable Keyworg Arguments
#If number of keyword arguments is unknown that will be passed into the function,
# it is required to put an double asterisk( ** ) before the parameter name in the function definition.
# So, the function will receive a dictionary of arguments, and handle the params.
# Let us take an example
def my_variable_keyword_args_func(**kwargs):
  print('param1 =',kwargs['param1'])
  print('param2 =',kwargs['param2'])
  print('param3 =',kwargs['param3'])
  print('param4 =',kwargs['param4'])

In [19]:
my_variable_keyword_args_func(param1='a',param2=2,param3='c',param4=100)

param1 = a
param2 = 2
param3 = c
param4 = 100

# Any type of data in Argument ( List, Dictionary, number,String etc..)

In [20]:
#Function accepting a List
def func_list(my_list):
  for item in my_list:
    print(item)

x = [1,2,3]
func_list(x)

1
2
3

In [24]:
#Function accepting a Dictionary
def func_dict(my_dict):
  print(my_dict.items())

x = {'name':'sunil','age':40,'choice':'veg'}
func_dict(x)

dict_items([('name', 'sunil'), ('age', 40), ('choice', 'veg')])

#Default Parameter

In [26]:
#If no parameter is passed, default parameter is used.
def func_with_default_param(first_name,last_name,title='Mr.'):
  print(title,first_name,last_name)

func_with_default_param(first_name='Sunil',last_name='Karmakar')
func_with_default_param(title='Mrs.',first_name='Susmita',last_name='Kar')

Mr. Sunil Karmakar
Mrs. Susmita Kar

In [27]:
# Few example of function

def add(x,y):
  return x + y
def sub(x,y):
  return x - y
def mul(x,y):
  return x * y
def div(x,y):
  return x / y

x,y = 100,10

print('Add result=', add(x,y))
print('Substration result=', sub(x,y))
print('Multiplication result=', mul(x,y))
print('Division result=', div(x,y))

Add result= 110
Substration result= 90
Multiplication result= 1000
Division result= 10.0

#Python Conditions

#If-else

In [31]:
# Python conditions are checked using if statement
# for example, if you want to put grade of a student based on his number scored.
# Grade is 'A' if score is above or equal 90 and grade 'B' otherwise

def grade(score):
  if score >=90: # it should end with colon and next line must have indentation, else throw error.
    print('Grade = A')
  else: # this is executed if the if condition is not satisfied
    print('Grade = B')

score = 95
grade(score)

score = 80
grade(score)

Grade = A
Grade = B

#If-Elif-else

In [34]:
#Now if you have multiple conditions you need to use elif condition
# if score >= 90 Grade = A
# if score > 80 and < 90 Grade = B
# if score > 70 and < 80 Grade = C
# else Grade = D

def grade(score):
  if score >= 90:
    print('Grade = A')
  elif(score >= 80 and score < 90):
    print('Grade = B')
  elif(score >=70 and score < 80):
    print('Grade = C')
  else:
    print('Grade = D')

score = 98
print('student-1 score =',score)
grade(score)

score = 50
print('student-2 score =',score)
grade(score)

score = 78
print('student-3 score =', score)
grade(score)

score = 88
print('student-4 score =', score)
grade(score)

student-1 score = 98
Grade = A
student-2 score = 50
Grade = D
student-3 score = 78
Grade = C
student-4 score = 88
Grade = B

#Nested If

In [38]:
# If you need to combine multiple conditions together, you can use nested if
# If student's total marks are more than 500 and science score is more than 250 then Grade is 'A++',Otherwise 'A+'
# If student's total marks are below 500 and sci score is above 250, score is 'A-'

def grade(total_score,sci_score):
  if total_score >= 500:
    if sci_score >= 250:
      print('Grade = A++')
    else:
      print('Grade = A+')
  else:
    if sci_score >= 250:
      print('Grade = A-')
    else:
      print('Grade = B++')

total_score = 560
sci_score = 255
print('Total score= {} and sci_score= {}'.format(total_score,sci_score))
grade(total_score,sci_score)

total_score = 520
sci_score = 230
print('Total score= {} and sci_score= {}'.format(total_score,sci_score))
grade(total_score,sci_score)

total_score = 450
sci_score = 255
print('Total score= {} and sci_score= {}'.format(total_score,sci_score))
grade(total_score,sci_score)

total_score = 450
sci_score = 220
print('Total score= {} and sci_score= {}'.format(total_score,sci_score))
grade(total_score,sci_score)

Total score= 560 and sci_score= 255
Grade = A++
Total score= 520 and sci_score= 230
Grade = A+
Total score= 450 and sci_score= 255
Grade = A-
Total score= 450 and sci_score= 220
Grade = B++

#Single line If

In [39]:
score = 95
if score >= 90: print('Grade = A')

Grade = A

In [41]:
#If-else

score = 88
print('Grade = A') if score >= 90 else print('Grade = B')

Grade = B

In [42]:
# 3 conditions in one line
score = 78
print('Grade = A') if score >= 90 else print('Grade = B') if score >= 80 and score < 90 else print('Grade C')

Grade C

#Python Loops

In [45]:
# for Loop is used to iterate a sequence. [ list, set, tuple]
# for is used to execute piece of code block numtiple times specified by the count of times.

text = 'education'

for x in text:
  print(x)

e
d
u
c
a
t
i
o
n

In [2]:
#Let us iterate a list
my_list = ['Car','Bi-cycle','Motor-bike','Plane'] #vehicles

for vehicle in my_list:
  print(vehicle)

Car
Bi-cycle
Motor-bike
Plane

In [4]:
#iterating a tuple
my_tuple = ('toyota','$20,000','camry')
for x in my_tuple:
  print(x)

toyota
$20,000
camry

#Break Statement

In [10]:
#use of break is to come out of a loop once certain condition is satisfied.
# Example - if you are searching a list of numbers to find if a square number exists. If found, then break the loop, no need to search further.
squares = [x**2 for x in range(1,11)] # squares till 100
search_list = [2,3,5,7,25,12,15,20,22] # list contains only 1 square number.
print('Squares list',squares)
print('Search numbers list',search_list)
for n in search_list:
  if(n in squares):
    print('Square number found in list: =', n)
    print('Break the loop')
    break

Squares list [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Search numbers list [2, 3, 5, 7, 25, 12, 15, 20, 22]
Square number found in list: = 25
Break the loop

# Continue Statement

In [11]:
#Continue will go to next iteration in the loop without executing the set of steps mentioned after the continue statement.
#This is useful when you want not to execute certain steps under some conditions and move to next iteration in the loop.
multipliers_10 = [10*x for x in range(1,11)]
search_list = [1,11,21,20,35,45,63,50,40,90,55,67,100]
#print only the number which is not multipliers of 10.
for x in search_list:
  if(x in multipliers_10):
    continue
  print('Number which is not a multiplier of 10 = ',x)

Number which is not a multiplier of 10 =  1
Number which is not a multiplier of 10 =  11
Number which is not a multiplier of 10 =  21
Number which is not a multiplier of 10 =  35
Number which is not a multiplier of 10 =  45
Number which is not a multiplier of 10 =  63
Number which is not a multiplier of 10 =  55
Number which is not a multiplier of 10 =  67

# Python While Loop

In [12]:
#while loop is alos used to execute a setup of steps until certain conditions are met mentioned in the loop.
#Let us print first 10 natural numbers

i = 1 # initialize variable i with 1 and we shall increment it to get the next next and this iteration will happen until i reaches to 10.
while i < 11: # this is the loop condition how many times the loop will iterate.
  print(i)
  i += 1 # increment i

1
2
3
4
5
6
7
8
9
10

In [14]:
# As shown earlier, break and continue can be used inside while loop with if-else conditions..
# in a list of numbers, if any number number > 100 is found break the loop.
search_list = [1,2,3,56,78,98,203,405,333,23]
l = len(search_list)
i = 0
while (i < l):
  if(search_list[i] > 100):
    print('Greater than 100 number=', search_list[i])
    break
  i += 1 # Do not forget to write this! Else the loop will continue forever, falling into infinite loop!!

Greater than 100 number= 203

#Recursive functions

In [21]:
# When one function() calls itself - it is known as recursive function.
i = 1
def printme(i):
  if(i > 20):        # this is known as terminating condition. without this the recursive function will keep on running in infinite times.
    print('Stop')
  else:
    print(i)
    printme(i+1)


printme(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
Stop

In [22]:
#Let us write another example
# Write a factorial function using recursive function

def calc_factorial(i):
  if(i == 1):
    return 1
  else:
    return i * calc_factorial(i-1)
print(calc_factorial(5))

120

#Lambda Function

In [25]:
#Lambda is a special type of function- known as anonymous function.
# It is defined with keyword lambda.
# It has syntax as:   lambda parameter:expression
# Let us write our first lambda function which takes one value and increment it by 1.
lambda x: x + 1

In [26]:
#Now, call the lambda function
# surround the lambda function with parenthesis ->  (lambda x: x + 1)
#pass the parameter just like normal function ->   (6)
print((lambda x: x + 1)(6))

7

In [27]:
# you can assign lambda function to a variable and then call it like function
# But this is recommended as it will boil down the normal function behaviour instead of short-term use of anonymoud function

var_func = (lambda x: x + 1)

print(var_func(5))

6

In [28]:
# Lambda function can take multiple parameters as well separated by comma

lambda x , y , z : x*x + y*y + z*z

print((lambda x , y , z : x*x + y*y + z*z)(2,3,4)) # print 2*2 + 3*3 + 4*4 = 29

29

In [ ]:
# You can write conditional statement inside the lamdba function
#

In [35]:
 #Let us take one list of numbers and find even numbers using lambda
nums = [2,4,6,10,15,17,19,21]
print((lambda my_list : [x for x in my_list if x%2 == 0])(nums))

[2, 4, 6, 10]